<h1><%= @list.name %></h1>
<% @list.movies.each do |movie| %> <!--Add movie with its info to a card-->
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
  <p><%= movie.title %></p>
  <p><%= movie.overview %></p>
  <p><%= movie.poster_url %></p>
  <p>Rating: <%= movie.rating %></p>
  <p><%= link_to "Delete this movie from the list", bookmark_path(bookmark), class: "btn btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this movie?" } %></p>
<% end %>

<%= render 'shared/form_bookmark' %>

<%= link_to "Back to Lists", lists_path %>
