<div class="form">
  <%= simple_form_for @list do |f| %>
  <%= f.label :name, "List name" %>
  <%= f.text_field :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Add new list", class: "btn btn-primary" %>
<% end %>
</div>
